# Config file used by stdeb when building a Debian source package.
#
# Once you have stdeb installed, you can build a source package
# with the following command:
#    stdeb_run_setup --extra-cfg-file stdeb.cfg

[DEFAULT]
Depends: python-simplejson, python-httplib2

